<div>
    <md-card>
        <md-field class="field12">
            <label>id</label>
            <md-input md-type="number" type="number">12</md-input>
            <md-button @click="update()" class="inlBtn md-raised md-primary">Поиск</md-button>
        </md-field>
    </md-card>

    <!--
    <table>
        <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{entry[key]}}
                </td>
            </tr>
        </tbody>
    </table>
    -->
</div>
